.copyright-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright-footer__text {
  font-size: toRem(16);
  font-weight: 300;
}
.copyright-footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: toRem(20);
}