//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding-left: 20px;
	@include adaptiveValue("padding-left", 20, 10);
	border: 1px solid #eee;
	&._form-focus {
		color: $brownColor;
		border: 1px solid #eee;
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
		border: 1px solid #eee;		
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
