// ===================================================================================
.footer {
	@include adaptiveValue("padding-top", 100, 50);
	padding-bottom: toRem(10);
	background: $lightColor;
	&__container {
	}
	// .footer__inner
	&__inner {
		display: flex;
		column-gap: toRem(42);
		@media (max-width: $tablet) {
			column-gap: toRem(54);
		}
		@media (max-width: $mobile) {
			justify-content: space-between;
			@include adaptiveValue("column-gap", 16, 20, 0, 768, 480);
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			// column-gap: toRem(10);
			margin: 0 auto;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}
	// .footer__menu
	&__menu {
		flex: 0 1 50%;
		@media (max-width: $tablet) {
			flex: 1 0 toRem(312);
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
		@media (max-width: $mobileSmall) {
			max-width: toRem(420);
			width: 100%;
		}
	}
	// .footer__box
	&__box {
		flex: 0 1 50%;
		@media (max-width: $tablet) {
			flex: 0 1 68.23%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 50%;
			margin-left: toRem(35);
			@include adaptiveValue("margin-left", 35, 0, 0, 768, 480);
			max-width: toRem(270);
		}
		@media (max-width: $mobileSmall) {
			max-width: 100%;
			max-width: toRem(420);
		}
	}
	// .footer__box-row
	&__box-row {
		display: flex;
		column-gap: toRem(51);
		@media (max-width: $tablet) {
			column-gap: toRem(55);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .footer__blockquote
	&__blockquote {
		flex: 0 1 50%;
	}
	// .footer__connection
	&__connection {
		flex: 0 1 50%;
	}
	// .footer__copyright
	&__copyright {
	}
}

.menu-footer {
	// .menu-footer__spollers
	&__spollers {
		display: flex;
		column-gap: toRem(50);
		@media (max-width: $mobileSmall) {
			width: 100%;
			flex-grow: 1;
			justify-content: space-between;
		}
	}
	// .menu-footer__block
	&__block {
		flex: 0 1 50%;
	}
	// .menu-footer__title
	&__title {
		list-style: none;
		font-family: Cormorant;
		font-size: toRem(24);
		line-height: 125%; /* 30/24 */
		@include adaptiveValue("margin-bottom", 50, 30);
		&::marker {
			display: none;
		}
		._spoller-init & {
			position: relative;
			padding-right: toRem(20);
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: toRem(0);
				top: 50%;
				background-color: $mainColor;
				height: toRem(2);
				width: toRem(10);
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(44deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-44deg);
			}
			&._spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-44deg);
				}
				&::after {
					transform: rotate(44deg);
				}
			}
		}
		@media (max-width: $mobileSmall) {
			text-align: start;
		}
	}
	// .menu-footer__list
	&__list {
	}
	// .menu-footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		&:last-child {
			@include adaptiveValue("margin-bottom", 100, 40);
		}
	}
	// .menu-footer__link
	&__link {
		font-size: toRem(16);
		font-weight: 300;
		line-height: 137.5%; /* 22/16 */
		// красивое подчеркивание при hover
		display: inline-block;
		padding-bottom: toRem(2.5);
		position: relative;
		&::after {
			position: absolute;
			content: "";
			height: toRem(1);
			background-color: #000;

			bottom: 0;
			left: 50%;
			width: 0;
			transition: all 0.3s;
		}
		&:hover::after {
			left: 0;
			width: 100%;
		}
	}
}

.blockquote {
	padding-top: toRem(77);
	margin-bottom: toRem(40);
	@media (max-width: $tablet) {
		padding-top: toRem(0);
	}
	// .blockquote__text
	&__text {
		@media (max-width: $mobileSmall) {
			max-width: toRem(460);
			text-align: left;
		}
	}
	// .blockquote__author
	&__author {
		@media (max-width: $tablet) {
			max-width: toRem(129);
			line-height: 133.333333%; /* 32/24 */
		}
		@media (max-width: $mobileSmall) {
			max-width: toRem(460);
			text-align: left;
		}
	}
}

.connection {
	text-align: center;
	// .connection__title
	&__title {
		font-family: Cormorant;
		font-size: toRem(24);
		margin-bottom: toRem(50);
		@media (max-width: $tablet) {
			text-align: left;
		}
		@media (max-width: $mobileSmall) {
			text-align: center;
			margin-bottom: toRem(20);
		}
	}
	// .connection__text
	&__text {
		font-size: toRem(13);
		font-weight: 300;
		line-height: 139%; /* 18/13 */
		margin-bottom: toRem(20);
	}
	// .connection__content
	&__content {
		@media (max-width: $mobileSmall) {
			display: flex;
			column-gap: toRem(29);
			justify-content: center;
		}
		@media (max-width: toRem(420)) {
			flex-direction: column;
		}
	}
	// .connection__row
	&__row {
		display: flex;
		gap: toRem(27);
		align-items: center;
		justify-content: center;
		margin-bottom: toRem(40);
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(50);
		}
	}
	// .connection__logo-image
	&__logo-image {
	}
	// .connection__box
	&__box {
		display: flex;
		flex-direction: column;
		font-size: toRem(13);
		font-weight: 300;
		row-gap: toRem(11);
	}
	// .connection__phone
	&__phone {
	}
	// .connection__mail
	&__mail {
	}
	// .connection__socials
	&__socials {
		display: flex;
		gap: toRem(20);
		margin-bottom: toRem(20);
		justify-content: center;
		align-items: center;
		@media (max-width: $mobile) {
			justify-content: end;
			margin-bottom: toRem(55);
		}
		@media (max-width: toRem(420)) {
			justify-content: center;
		}
	}
	// .connection__icon
	&__icon {
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.5;
		}
	}
}

.copyright-footer {
	display: flex;
	justify-content: space-between;
	@media (max-width: $mobile) {
		justify-content: start;
		gap: toRem(31);
	}
	@media (max-width: $mobileSmall) {
		justify-content: space-between;
	}
	// .copyright-footer__text
	&__text {
		font-size: toRem(16);
		font-weight: 300;
	}
	// .copyright-footer__payment
	&__payment {
		display: flex;
		align-items: center;
		gap: toRem(20);
	}
	// .copyright-footer__icon
	&__icon {
		display: flex;
		align-items: center;
		align-self: center;
	}
}

// ===================================================================================
