//==================================================================================
//==================================================================================
.page {
	// .page__quote
	&__quote {
	}
	// .page__collections
	&__collections {
	}
	// .page__clients
	&__clients {
	}
	// .page__blog
	&__blog {
	}
	// .page__subscribe
	&__subscribe {
	}
	// .page__prioritise
	&__prioritise {
	}
}

//===============================================================================
//===============================================================================
.quote {
	@include adaptiveValue("padding-top", 150, 30);
	@include adaptiveValue("padding-bottom", 75, 30);
	// .quote__container
	&__container {
	}
	// .quote__quote
	&__quote-text {
		display: flex;
		text-align: center;
		margin: 0 auto;
		@include adaptiveValue("max-width", 704, 376, 0, 1600, 479.98);
		font-family: "Cormorant";
		@include adaptiveValue("font-size", 40, 16, 0, 1600, 479.98);
		font-style: italic;
		font-weight: 300;
	}
}
//===============================================================================
//===============================================================================
.collections {
	@include adaptiveValue("padding-top", 75, 30);
	@include adaptiveValue("padding-bottom", 150, 30);
	// .collections__container
	&__container {
	}
	// .collections__title
	&__title {
	}
	// .collections__items
	&__items {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(10);
		flex-wrap: wrap;
		@media (max-width: $tablet) {
			max-width: toRem(634);
			justify-content: center;
			margin: 0 auto;
			column-gap: toRem(5);
			row-gap: toRem(10);
		}
		@media (max-width: $mobileSmall) {
			max-width: toRem(380);
			justify-content: center;
			column-gap: toRem(10);
			margin: 0 auto;
		}
		@media (max-width: em(400)) {
			margin-right: toRem(-15);
			margin-left: toRem(-15);
		}
	}
	// .collections__item
	&__item {
		margin-right: toRem(-20);
		margin-left: toRem(-20);
		@media (max-width: $tablet) {
			margin: toRem(0);
		}
		@media (max-width: $mobileSmall) {
			margin-right: toRem(-20);
			margin-left: toRem(-20);
		}
	}
	// .collections__card
	&__card {
		text-align: center;
		max-width: toRem(208);
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
	// .collections__image
	&__image-ibg {
		width: toRem(208);
		height: toRem(208);
		img {
			max-width: 100%;
		}
	}
	// .collections__name
	&__name {
		font-family: "Cormorant";
		font-size: toRem(24);
	}
}

//==================================================================================
//==================================================================================
.clients {
	opacity: 0.5;
	background-color: $lightColor;
	@include adaptiveValue("padding-top", 60, 30);
	@include adaptiveValue("padding-bottom", 60, 30);
	// .clients__container
	&__container {
	}
	// .clients__title
	&__title {
	}
	// .clients__items
	&__items {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		gap: toRem(26);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			max-width: toRem(892);
		}
		@media (max-width: toRem(912)) {
			max-width: toRem(636);
			gap: toRem(20);
		}
	}
	// .clients__item
	&__item {
		flex: 0 1 toRem(280);
		@media (max-width: $mobile) {
			min-width: toRem(220);
			flex: 0 1 toRem(220);
		}
		&:last-child {
			@media (max-width: $tablet) {
				display: none;
			}
			@media (max-width: toRem(912)) {
				display: block;
			}
		}
		&:nth-last-child(-n + 2) {
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}
	// .clients__quote
	&__quote {
		font-size: toRem(16);
		font-style: italic;
		font-weight: 300;
	}
	// .clients__footer
	&__footer {
		font-weight: 600;
		margin-top: toRem(10);
	}
}

//==================================================================================
//==================================================================================
.blog {
	@include adaptiveValue("padding-top", 150, 50);
	@include adaptiveValue("padding-bottom", 150, 50);
	// .blog__container
	&__container {
		display: grid;
	}
	// .blog__title
	&__title {
		@include adaptiveValue("margin-bottom", 60, 30);
	}
	// .blog__items
	&__items {
		// display: grid;
		// gap: toRem(70);
		// grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
		// &:not(:last-child) {
		// 	margin-bottom: toRem(60);
		// }
		// @media (max-width: $tablet) {
		// 	grid-template-columns: repeat(auto-fill, minmax(toRem(100), toRem(400)));
		// 	gap: toRem(50);
		// }
		// @media (max-width: $mobile) {
		// 	row-gap: toRem(30);
		// }
		// @media (max-width: $mobileSmall) {
		// 	grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));
		// }
		display: flex;
		flex-wrap: wrap;
		gap: toRem(40);
		// column-gap: toRem(40);
		// margin: toRem(0) toRem(-20);
		justify-content: space-between;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		@media (max-width: $mobile) {
			max-width: toRem(640);
			justify-content: start;
			margin: 0 auto;
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
			&:nth-child(2) {
				// justify-content: end;
			}
		}
	}
	// .blog__item
	&__item {
		flex: 0 1 47%;
		min-width: toRem(353);
		// padding: toRem(0) toRem(20);
		max-width: toRem(542);
		// @media (min-width: $mobile) {
		// 	flex: 0 1 40%;
		// }
		@media (max-width: $mobile) {
			flex: 0 1 100%;
			// flex-grow: 1;
			// align-self: start;
		}
	}

	// .blog__view-more
	&__view-more {
		// justify-self: center;
		// color: $mainColor;
		// font-size: toRem(20);
		// font-weight: 300;
		// border: 1px solid $mainColor;
		// // background-color: #fff;
		// padding: toRem(12) toRem(41);
		// transition: background-color 0.3s;
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		background-color: $lightColor;
		// 	}
		// }
	}
}
//=====================================

.item-blog {
	@media (max-width: $mobile) {
		&:nth-child(even) {
			@include adaptiveValue("padding-left", 100, 40, 0, 768, 320);
		}
	}
	// @media (max-width: $mobileSmall) {
	// 	&:nth-child(even) {
	// 		margin-left: toRem(0);
	// 	}
	// }

	// .item-blog__card
	&__card {
		display: flex;
		// aspect-ratio: 33.21%; /* 180/542 */
		// max-width: toRem(542);
		column-gap: toRem(20);
		// @media (max-width: em(360)) {
		// 	flex-direction: column;
		// }
		@media (max-width: $mobile) {
			flex-grow: 1;
			max-width: 100%;
		}
	}
	// .item-blog__image-ibg
	&__image-ibg {
		flex: 0 1 50%;
		padding-bottom: 33.21%;
		height: 100%;
		// aspect-ratio: 270 / 180; /* 444/300 */
		overflow: hidden;
		img {
			transition: transform 0.5s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		@media (max-width: em(360)) {
			margin-bottom: toRem(10);
		}
	}
	// .item-blog__content
	&__content {
		flex: 0 1 50%;
		max-width: toRem(252);
		display: flex;
		flex-direction: column;
	}
	// .item-blog__title
	&__title {
		flex: 1 1 auto;
		// color: $brownColor;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-blog__link-title
	&__link-title {
		font-family: "Cormorant";
		color: $brownColor;
		@include adaptiveValue("font-size", 24, 24);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item-blog__text
	&__text {
		font-family: "Open Sans";
		font-size: toRem(13);
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: toRem(48);
		}
		@media (max-width: em(360)) {
			&:not(:last-child) {
				margin-bottom: toRem(48);
			}
		}
	}
	&__read {
		justify-self: center;
		max-width: toRem(43);
		color: $mainColor;
		font-family: "Open Sans";
		font-size: toRem(13);
		font-weight: 300;
		background: url("@img/blog/arrow.svg") right no-repeat;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $lightColor;
			}
		}
	}
}
/*=========== end block3 columns ===============================*/
//==================================================================================
//==================================================================================
.subscribe {
	background-color: $lightColor;
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .subscribe__container
	&__container {
	}
	// .subscribe__row
	&__row {
		display: flex;
		// column-gap: toRem(40);
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column;
			text-align: center;
		}
	}
	// .subscribe__column
	&__column {
		flex: 0 1 50%;
		@media (max-width: $tablet) {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 50, 30);
			}
		}
	}
	// .subscribe__content
	&__content {
		padding-right: toRem(20);
		@media (max-width: $tablet) {
			padding-right: toRem(0);
		}
	}
	// .subscribe__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(50);
		}
		@media (max-width: $tablet) {
			text-align: center;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 50, 30);
			}
		}
	}
	// .subscribe__text
	&__text {
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 300;
		line-height: 150%;
		@media (max-width: $tablet) {
			max-width: toRem(780);
		}
		@media (max-width: $mobile) {
			max-width: toRem(640);
		}
	}
	// .subscribe__body
	&__body {
		padding-left: toRem(20);
		@media (max-width: $tablet) {
			max-width: toRem(580);
			padding-left: toRem(0);
		}
	}
	// .subscribe__form
	&__form {
	}
}

.form {
	// .form__body-input
	&__body-input {
		position: relative;
		display: flex;
		@include adaptiveValue("gap", 25, 10);
		.form__error {
			position: absolute;
			top: 30%;
			left: toRem(-20);
			font-size: toRem(13);
			color: red;
			margin-top: toRem(5);
		}
	}
	// .form__input
	&__input {
		height: toRem(51);
		position: relative;
		flex: 1 1 auto;
		background-color: transparent;
		color: $lightGreenColor;
		border-bottom: toRem(1) solid $lightGreenColor;
	}
	// .form__button
	&__button {
	}
	// .form__checkbox
	&__checkbox {
		margin-top: toRem(12);
	}
}

.checkbox {
	&._error .checkbox__label::before {
		box-shadow: toRem(0) toRem(0) toRem(15) red;
	}
	// .checkbox__input
	&__input {
		display: none;
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		font-size: toRem(13);
		line-height: 140%;
		font-weight: 300;
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 toRem(14);
			height: toRem(14);
			background-color: #fff;
			border: toRem(1) solid $brownColor;
			margin: toRem(0) toRem(10) toRem(0) toRem(0);
		}
		&::after {
			transition: transform 0.5s ease 0s;
			content: "";
			width: toRem(8);
			height: toRem(8);
			position: absolute;
			top: toRem(3);
			left: toRem(3);
			background-color: $brownColor;
			transform: scale(0);
		}
		& a {
			color: $brownColor;
		}
	}
}

//===============================================================================
//===============================================================================
//===============================================================================
.prioritise {
	@include adaptiveValue("padding-top", 150, 70);
	@include adaptiveValue("padding-bottom", 150, 70);
	// .prioritise__container
	&__container {
	}
	// .prioritise__title
	&__title {
	}
	// .prioritise__items
	&__items {
		display: flex;
		row-gap: toRem(50);
		flex-wrap: wrap;
		justify-content: space-between;
		align-self: center;
		@media (max-width: toRem(1175)) {
			margin: 0 auto;
			max-width: toRem(715);
			@include adaptiveValue("column-gap", 120, 10, 0, 1600, 767.98);
		}
		@media (max-width: em(620)) {
			justify-content: center;
		}
	}
	// .prioritise__item
	&__item {
		flex: 0 1 25%;
	}
	// .prioritise__card
	&__card {
		max-width: toRem(294);
		min-width: toRem(294);
	}
}

.card {
	text-align: center;
	// .card__title
	&__title {
		@include adaptiveValue("font-size", 30, 20);
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .card__text
	&__text {
		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 10);
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: em(620)) {
			text-transform: uppercase;
		}
	}
	// .card__icon
	&__icon {
		display: flex;
		margin: 0 auto;
		width: toRem(60);
		height: toRem(60);
	}
}
//===============================================================================
//===============================================================================
//===============================================================================

//===============================================================================
