//==================================================================================
//==================================================================================

//==================================================================================
//==================================================================================

//==================================================================================
//==================================================================================
.blog {
	@include adaptiveValue("padding-top", 150, 50);
	@include adaptiveValue("padding-bottom", 150, 50);
	// .blog__container
	&__container {
		display: grid;
	}
	// .blog__title
	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 60, 30);
	}
	// .blog__items
	&__items {
		// display: grid;
		// gap: toRem(70);
		// grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
		// &:not(:last-child) {
		// 	margin-bottom: toRem(60);
		// }
		// @media (max-width: $tablet) {
		// 	grid-template-columns: repeat(auto-fill, minmax(toRem(100), toRem(400)));
		// 	gap: toRem(50);
		// }
		// @media (max-width: $mobile) {
		// 	row-gap: toRem(30);
		// }
		// @media (max-width: $mobileSmall) {
		// 	grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));
		// }
		display: flex;
		flex-wrap: wrap;
		gap: toRem(40);
		// column-gap: toRem(40);
		// margin: toRem(0) toRem(-20);
		justify-content: space-between;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		@media (max-width: $mobile) {
			max-width: toRem(640);
			justify-content: start;
			margin: 0 auto;
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
			&:nth-child(2) {
				// justify-content: end;
			}
		}
	}
	// .blog__item
	&__item {
		flex: 0 1 47%;
		min-width: toRem(353);
		// padding: toRem(0) toRem(20);
		max-width: toRem(542);
		// @media (min-width: $mobile) {
		// 	flex: 0 1 40%;
		// }
		@media (max-width: $mobile) {
			flex: 0 1 100%;
			// flex-grow: 1;
			// align-self: start;
		}
	}

	// .blog__view-more
	&__view-more {
		justify-self: center;
		color: $mainColor;
		font-size: toRem(20);
		font-weight: 300;
		border: 1px solid $mainColor;
		// background-color: #fff;
		padding: toRem(12) toRem(41);
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $lightColor;
			}
		}
	}
}

//=====================================================================

.item-blog {
	@media (max-width: $mobile) {
		&:nth-child(even) {
			@include adaptiveValue("padding-left", 100, 40, 0, 768, 320);
		}
	}
	// @media (max-width: $mobileSmall) {
	// 	&:nth-child(even) {
	// 		margin-left: toRem(0);
	// 	}
	// }

	// .item-blog__card
	&__card {
		display: flex;
		// aspect-ratio: 33.21%; /* 180/542 */
		// max-width: toRem(542);
		column-gap: toRem(20);
		// @media (max-width: em(360)) {
		// 	flex-direction: column;
		// }
		@media (max-width: $mobile) {
			flex-grow: 1;
			max-width: 100%;
		}
	}
	// .item-blog__image-ibg
	&__image-ibg {
		flex: 0 1 50%;
		padding-bottom: 33.21%;
		height: 100%;
		// aspect-ratio: 270 / 180; /* 444/300 */
		overflow: hidden;
		img {
			transition: transform 0.5s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		@media (max-width: em(360)) {
			margin-bottom: toRem(10);
		}
	}
	// .item-blog__content
	&__content {
		flex: 0 1 50%;
		max-width: toRem(252);
		display: flex;
		flex-direction: column;
	}
	// .item-blog__title
	&__title {
		flex: 1 1 auto;
		// color: $brownColor;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-blog__link-title
	&__link-title {
		font-family: "Cormorant";
		color: $brownColor;
		@include adaptiveValue("font-size", 24, 24);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item-blog__text
	&__text {
		font-family: "Open Sans";
		font-size: toRem(13);
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: toRem(48);
		}
		@media (max-width: em(360)) {
			&:not(:last-child) {
				margin-bottom: toRem(48);
			}
		}
	}
	&__read {
		justify-self: center;
		max-width: toRem(43);
		color: $mainColor;
		font-family: "Open Sans";
		font-size: toRem(13);
		font-weight: 300;
		background: url("@img/blog/arrow.svg") right no-repeat;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $lightColor;
			}
		}
	}
}
/*=========== end block3 columns ===============================*/
//==================================================================================
//==================================================================================

